@import url(https://fonts.googleapis.com/css?family=Instrument+Sans);

* {
	font-family: Instrument Sans, Arial, Helvetica, sans-serif;
}

@font-face {
	font-family: Shirkhand;
	src: url("../public/fonts/Shrikhand-Regular.ttf");
}

.center-text {
	display: flex;
	align-self: center;
}

.footer-button-name {
	font-family: "Press Start 2P";
}

.ff-shirkhand {
	font-family: Shirkhand, 'Times New Roman', Times, serif;
}

a {
	color: white !important;
}

a:hover {
	color: white;
}

p > a:hover {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 4px;
}

code {
	color: white !important;
}

.header-blur {
	backdrop-filter: blur(10px);
}

/* shoutout to gradient-animator.com for making this so easy */
.cool-background {
	background: linear-gradient(30deg, #258f0a, #2a40d4);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 120s ease infinite;
    -moz-animation: AnimationName 120s ease infinite;
    animation: AnimationName 120s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* EPIC MODE
.cool-background {
	background: linear-gradient(25deg, #078700, #0069bf, #960000);
	background-size: 600% 600%;
	backdrop-filter: blur(10px);

	-webkit-animation: AnimationName 120s ease infinite;
	-moz-animation: AnimationName 120s ease infinite;
	animation: AnimationName 120s ease infinite;
}

@-webkit-keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
}
@keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
} */